Source: dovecot-openchange-plugin
Priority: optional
Maintainer: Samuel Cabrero <scabrero@zentyal.com>
Build-Depends: debhelper (>= 8.0.0), automake, libtool, dovecot-dev (>= 1:2.1),
 librabbitmq-dev, libjson-c-dev
Standards-Version: 3.9.4
Section: mail
Homepage: http://www.openchange.org
Vcs-Browser: https://github.com/openchange/openchange

Package: dovecot-openchange-plugin
Section: mail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenChange dovecot plugin
 This is a plugin for dovecot 2.0 that send a message to a AMQP broker when
 a new mail arrives for a user. It works together with OpenChange notification
 daemon to send notification to email clients.
